In [1]:
import pandas as pd
from result_df import find_anomaly_problem_chain
from log_to_df import logs_to_dataframe

In [2]:
anomalies_problems = pd.read_csv('Validation Cases/ValidationCase 2/anomalies_problems.csv', sep=';')

In [3]:
anomalies_problems.columns

Index(['ID аномалии', 'Аномалия', 'ID проблемы', 'Проблема'], dtype='object')

In [4]:
anomalies_problems

,ID аномалии,Аномалия,ID проблемы,Проблема
0,1,ata1: COMRESET failed,1,RAID controller firmware fault detected
1,2,RAID array degraded,1,RAID controller firmware fault detected
2,3,RAID disk offline,1,RAID controller firmware fault detected
3,4,ata1: read timeout,1,RAID controller firmware fault detected
4,5,Disk status unknown,1,RAID controller firmware fault detected
...,...,...,...,...
495,400,Snapshot timeout warning,50,Snapshot operation failed
496,401,System hang on snapshot task,50,Snapshot operation failed
497,402,Snapshot restore failure,50,Snapshot operation failed
498,489,Data integrity check failed,50,Snapshot operation failed
499,490,Process hung in execution,50,Snapshot operation failed

In [5]:
VC2 = logs_to_dataframe('Validation Cases/ValidationCase 2')

In [6]:
VC2

,datetime,level,source,text,filename,line_number
0,2025-10-06T01:55:34,WARNING,database,Slow query from index issue,backup_server_log.txt,6935
1,2025-10-06T05:44:04,WARNING,database,Query timeout warning,router_log.txt,20645
2,2025-10-06T05:09:49,WARNING,database,Application crash on index,storage_system_log.txt,18590
3,2025-10-06T07:42:23,ERROR,database,Index corruption on table,web_server_log.txt,27744

In [7]:
ap = anomalies_problems[anomalies_problems['Аномалия']==VC2[:1].text.values[0]]

In [8]:
ap

,ID аномалии,Аномалия,ID проблемы,Проблема
330,267,Slow query from index issue,34,Index corruption on table

In [9]:
VC2[VC2['text']==ap['Проблема'].values[0]]

,datetime,level,source,text,filename,line_number
3,2025-10-06T07:42:23,ERROR,database,Index corruption on table,web_server_log.txt,27744

In [10]:


# Использование
result_df = find_anomaly_problem_chain(VC2, anomalies_problems)

In [11]:
result_df

,ID аномалии,ID проблемы,Файл с проблемой,№ строки,Строка из лога
0,267,34,web_server_log.txt,27744,Index corruption on table
1,271,34,web_server_log.txt,27744,Index corruption on table
2,274,34,web_server_log.txt,27744,Index corruption on table